package pages

import "github.com/JairoRiver/time_keeper/internal/view/layout"

templ Hello(name string) {
	@layout.App("Hola", "registro", false, false) {
		<div class="bg-white rounded-xl shadow-md p-10 text-center">
            <h1 class="text-3xl font-bold text-gray-800">
                Hola, { name }
            </h1>
            <p class="mt-3 text-gray-500">
                templ + Tailwind funcionando
            </p>
        </div>
	}
}
